dcHost: irc.freenode.net
dcPort: 6697
dcTls: true
dcLogFile: log/freenode.log
dcAutojoin:
  - "#snowdrift"
  - "#lysa"
  - "#learnprogramming"
  - "#lpmc"
dcNick: desbot-example
dcPass: desbot-example